---
import { Icon } from "astro-icon/components";
---

<div class="game-board">
  <Icon name="Chess_Board" />
</div>

<style lang="scss">
  .game-board {
    margin-inline: auto;
    width: 12rem;
  }

  [data-icon="Chess_Board"] {
    min-width: 12rem;
    width: 100%;
  }
</style>
