---
import { Icon } from "astro-icon/components";
---

<header>
  <div class="container">
    <Icon name="logo" />
  </div>
</header>

<style lang="scss">
  [data-icon] {
    width: clamp(3rem, 2.0458rem + 4.0712vw, 4rem);
  }
  .container {
    @include flex-between;
  }
</style>
