---
import { Icon } from "astro-icon/components";
interface Props {
  name: string;
  iconW: String;
  iconB: String;
  movement: String;
}
const { name, iconW, iconB, movement } = Astro.props;
---

<div class="piece">
  <Icon name={iconB} />
  <h3>{name}</h3>
  <p>{movement}</p>
</div>

<style lang="scss">
  [data-icon] {
    width: 24px;
  }

  .piece {
    @include flex-center;
    gap: 1rem;
  }
</style>
