---
import type { TutorialData } from "../types/chess";

import rawChessData from "@data/tutorial.json";
const chessData = rawChessData as TutorialData;
---

<section id="pieces">
  <div class="container scrolly-container">
    <svg style="display: none;">
      <symbol
        id="icon-rook-w"
        viewBox="0 0 45 45"
      >
        <g
          fill="#FFF"
          stroke="#000"
          stroke-width="1.5"
          stroke-linejoin="round"
        >
          <!-- test -->
          <path
            d="
			M 11,14 L 11,9 L 15,9 L 15,11 L 20,11 L 20,9 L 25,9 L 25,11 L 30,11 L 30,9 L 34,9 L 34,14
			L 31,17 L 31,29.5 L 33,32 L 33,36 L 12,36 L 12,32 L 14,29.5 L 14,17 Z
		"
          >
          </path>
          <!-- talp -->
          <path d="M 9,39 L 36,39 L 36,36 L 9,36 L 9,39 z"></path>
        </g>
        <!-- vonalak -->
        <g
          fill="none"
          stroke="#000"
          stroke-linecap="round"
        >
          <line
            stroke-width="1.2"
            x1="11"
            y1="14.0"
            x2="34"
            y2="14.0"
          >
          </line>
          <line
            stroke-width="0.8"
            x1="14"
            y1="17.0"
            x2="31"
            y2="17.0"
          >
          </line>
          <line
            stroke-width="0.8"
            x1="14"
            y1="29.5"
            x2="31"
            y2="29.5"
          >
          </line>
          <line
            stroke-width="1.2"
            x1="12"
            y1="32.0"
            x2="33"
            y2="32.0"
          >
          </line>
        </g>
      </symbol>
    </svg>
    <article class="scroll-text">
      <div
        class="step"
        data-step="Rook:step1_movement"
      >
        <h2>The Rook</h2>
        <p>The Rook is a powerhouse. It moves in straight lines...</p>
      </div>

      <div
        class="step"
        data-step="Rook:step2_movement"
      >
        <p>Rooks start in the four corners of the board...</p>
      </div>

      <div
        class="step"
        data-step="Bishop:step1_movement"
      >
        <h2>The Bishop</h2>
        <p>The Bishop glides diagonally...</p>
      </div>
    </article>

    <aside class="sticky-visual">
      <div id="chessboard-wrapper">
        <svg
          id="chess-canvas"
          viewBox="0 0 400 400"
          width="100%"
          height="100%"
        >
          <defs>
            <marker
              id="arrowhead"
              markerWidth="6"
              markerHeight="6"
              refX="5"
              refY="3"
              orient="auto"
            >
              <path
                d="M 0 0 L 6 3 L 0 6 z"
                class="arrow-head-path"
              >
              </path>
            </marker>
          </defs>

          <g id="board-squares"></g>
          <g id="board-highlights"></g>
          <g id="board-pieces"></g>
          <g id="board-arrows"></g>
        </svg>
      </div>
    </aside>
  </div>
</section>

<script>
  import { initChessScroller } from "../scripts/chessScroller";
  import {
    updateBoardState,
    clearVisuals,
    drawHighlights,
    drawArrows,
    drawGrid,
  } from "../scripts/boardRenderer";
  import type { VizTrigger, TutorialData } from "../types/chess";

  // Fetch/Import the data for the client side
  const getTutorialData = async (): Promise<TutorialData> => {
    const data = await import("../data/tutorial.json");
    return data.default as TutorialData;
  };

  function handleBoardUpdate(vizData: VizTrigger) {
    console.log("Triggering Action:", vizData.action);

    clearVisuals();

    if (vizData.fen) {
      updateBoardState(vizData.fen);
    }

    // 3. Apply Highlights
    if (vizData.action.includes("highlight") && vizData.highlightSquares) {
      drawHighlights(vizData.highlightSquares);
    }

    // 4. Draw Arrows
    if (vizData.action.includes("arrow") && vizData.arrows) {
      drawArrows(vizData.arrows);
    }
  }

  document.addEventListener("DOMContentLoaded", async () => {
    drawGrid();
    const data = await getTutorialData();
    const cleanupScroller = initChessScroller(data, handleBoardUpdate);

    document.addEventListener("astro:before-swap", cleanupScroller, {
      once: true,
    });
  });
</script>

<style lang="scss">
  .scrolly-container {
    display: flex;
    gap: 4rem;
    position: relative;
  }

  .scroll-text {
    flex: 1;
    padding-bottom: 80vh; //extra padding so last step can reach the middle of the screen
  }

  .step {
    @include flex-center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 50vh;
    padding: 2rem 0;
  }

  .sticky-visual {
    @include flex-center;
    flex: 1;
    height: 90vh;
    position: sticky;
    top: 5vh;
  }

  #chessboard-wrapper {
    aspect-ratio: 1 / 1;
    border: 1px solid rgba(9, 30, 66, 0.25);
    box-shadow:
      rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    max-width: 600px;
    width: 100%;
  }
</style>
